<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="REST API Suite" preserve-order="false">
  <test name="REST API Test" preserve-order="false">
    <classes>
      <class name="jetbrains.buildServer.server.rest.data.LocatorTest"/>
      <class name="jetbrains.buildServer.server.rest.data.VcsRootFinderTest"/>
      <class name="jetbrains.buildServer.server.rest.data.InvestigationFinderTest"/>
      <class name="jetbrains.buildServer.server.rest.data.BuildTypeFinderTest"/>
      <class name="jetbrains.buildServer.server.rest.data.BuildArtifactsFinderTest"/>
      <class name="jetbrains.buildServer.server.rest.data.AgentFinderTest"/>
      <class name="jetbrains.buildServer.server.rest.data.BuildFinderTest"/>
      <class name="jetbrains.buildServer.server.rest.data.BuildFinderByPromotionTest"/>
      <class name="jetbrains.buildServer.server.rest.data.BuildFinderFixedBuildSequenceTest"/>
      <class name="jetbrains.buildServer.server.rest.data.BuildFinderFixedBuildSequenceByPromotionTest"/>
      <class name="jetbrains.buildServer.server.rest.data.BuildPromotionFinderTest"/>
    </classes>
  </test>
</suite>